# version: '3.9'
# services:
#   python:
#     build: ./python
#     ports:
#       - "8001:8080"

#   javascript:
#     build: ./javascript
#     ports:
#       - "8002:8080"

#   java:
#     build: ./java
#     ports:
#       - "8003:8080"

#   cpp:
#     build: ./cpp
#     ports:
#       - "8004:8080"

#   csharp:
#     build: ./csharp
#     ports:
#       - "8005:8080"

#   typescript:
#     build: ./typescript
#     ports:
#       - "8006:8080"

#   go:
#     build: ./go
#     ports:
#       - "8007:8080"

#   rust:
#     build: ./rust
#     ports:
#       - "8008:8080"


# services:
#   python:
#     build:
#       context: .
#       dockerfile: ./python/Dockerfile
#     image: codesense-executor-python

#   java:
#     build:
#       context: .
#       dockerfile: ./java/Dockerfile
#     image: codesense-executor-java

#   cpp:
#     build:
#       context: .
#       dockerfile: ./cpp/Dockerfile
#     image: codesense-executor-cpp


#   go:
#     build:
#       context: .
#       dockerfile: ./go/Dockerfile
#     image: codesense-executor-go

#   javascript:
#     build:
#       context: .
#       dockerfile: ./javascript/Dockerfile
#     image: codesense-executor-javascript





services:
  python:
    build:
      context: .
      dockerfile: ./python/Dockerfile
    image: codesense-executor-python
    ports:
      - "5000:5000"
    environment:
      - HOST=0.0.0.0
      - PORT=5000
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3

  java:
    build:
      context: .
      dockerfile: ./java/Dockerfile
    image: codesense-executor-java
    ports:
      - "5001:5001"
    environment:
      - HOST=0.0.0.0
      - PORT=5001
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3

  cpp:
    build:
      context: .
      dockerfile: ./cpp/Dockerfile
    image: codesense-executor-cpp
    ports:
      - "5002:5002"
    environment:
      - HOST=0.0.0.0
      - PORT=5002
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3

  go:
    build:
      context: .
      dockerfile: ./go/Dockerfile
    image: codesense-executor-go
    ports:
      - "5003:5003"
    environment:
      - HOST=0.0.0.0
      - PORT=5003
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3

  javascript:
    build:
      context: .
      dockerfile: ./javascript/Dockerfile
    image: codesense-executor-javascript
    ports:
      - "5004:5004"
    environment:
      - HOST=0.0.0.0
      - PORT=5004
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3



